<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>马桶系列</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>大漩涡</string>
				<key>fid</key>
				<string>-7</string>
			</dict>
			<dict>
				<key>title</key>
				<string>动漫</string>
				<key>fid</key>
				<string>-447601</string>
			</dict>
			<dict>
				<key>title</key>
				<string>寂寞的车</string>
				<key>fid</key>
				<string>-343809</string>
			</dict>
			<dict>
				<key>title</key>
				<string>音乐影视</string>
				<key>fid</key>
				<string>-576177</string>
			</dict>
			<dict>
				<key>title</key>
				<string>宠物</string>
				<key>fid</key>
				<string>-353371</string>
			</dict>
			<dict>
				<key>title</key>
				<string>足球</string>
				<key>fid</key>
				<string>-81981</string>
			</dict>
			<dict>
				<key>title</key>
				<string>厨艺美食</string>
				<key>fid</key>
				<string>-608808</string>
			</dict>
			<dict>
				<key>title</key>
				<string>篮球</string>
				<key>fid</key>
				<string>485</string>
			</dict>
			<dict>
				<key>title</key>
				<string>职场</string>
				<key>fid</key>
				<string>-1459709</string>
			</dict>
			<dict>
				<key>title</key>
				<string>麻将</string>
				<key>fid</key>
				<string>-7678526</string>
			</dict>
			<dict>
				<key>title</key>
				<string>摄影旅游</string>
				<key>fid</key>
				<string>-8725919</string>
			</dict>
			<dict>
				<key>title</key>
				<string>模型手办</string>
				<key>fid</key>
				<string>-84</string>
			</dict>
			<dict>
				<key>title</key>
				<string>音频设备</string>
				<key>fid</key>
				<string>-2671</string>
			</dict>
			<dict>
				<key>title</key>
				<string>程序员交流</string>
				<key>fid</key>
				<string>-202020</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>软件硬件</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>消费电子</string>
				<key>fid</key>
				<string>436</string>
			</dict>
			<dict>
				<key>title</key>
				<string>二手交易</string>
				<key>fid</key>
				<string>334</string>
			</dict>
			<dict>
				<key>title</key>
				<string>二手交易</string>
				<key>fid</key>
				<string>498</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>魔兽主讨论区</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>议事厅</string>
				<key>fid</key>
				<string>7</string>
			</dict>
			<dict>
				<key>title</key>
				<string>风纪委员会</string>
				<key>fid</key>
				<string>230</string>
			</dict>
			<dict>
				<key>title</key>
				<string>前瞻资讯</string>
				<key>fid</key>
				<string>310</string>
			</dict>
			<dict>
				<key>title</key>
				<string>怀旧服讨论</string>
				<key>fid</key>
				<string>624</string>
			</dict>
			<dict>
				<key>title</key>
				<string>国服以外</string>
				<key>fid</key>
				<string>323</string>
			</dict>
			<dict>
				<key>title</key>
				<string>新版本资讯</string>
				<key>fid</key>
				<string>688</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>魔兽职业讨论</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>五晨寺</string>
				<key>fid</key>
				<string>390</string>
			</dict>
			<dict>
				<key>title</key>
				<string>黑锋要塞</string>
				<key>fid</key>
				<string>320</string>
			</dict>
			<dict>
				<key>title</key>
				<string>铁血沙场</string>
				<key>fid</key>
				<string>181</string>
			</dict>
			<dict>
				<key>title</key>
				<string>魔法圣堂</string>
				<key>fid</key>
				<string>182</string>
			</dict>
			<dict>
				<key>title</key>
				<string>信仰神殿</string>
				<key>fid</key>
				<string>183</string>
			</dict>
			<dict>
				<key>title</key>
				<string>风暴祭坛</string>
				<key>fid</key>
				<string>185</string>
			</dict>
			<dict>
				<key>title</key>
				<string>翡翠梦境</string>
				<key>fid</key>
				<string>186</string>
			</dict>
			<dict>
				<key>title</key>
				<string>猎手大厅</string>
				<key>fid</key>
				<string>187</string>
			</dict>
			<dict>
				<key>title</key>
				<string>圣光之力</string>
				<key>fid</key>
				<string>184</string>
			</dict>
			<dict>
				<key>title</key>
				<string>恶魔深渊</string>
				<key>fid</key>
				<string>188</string>
			</dict>
			<dict>
				<key>title</key>
				<string>暗影裂口</string>
				<key>fid</key>
				<string>189</string>
			</dict>
			<dict>
				<key>title</key>
				<string>伊利达雷</string>
				<key>fid</key>
				<string>477</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>魔兽背景相关</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>剧情讨论</string>
				<key>fid</key>
				<string>254</string>
			</dict>
			<dict>
				<key>title</key>
				<string>艺术作品</string>
				<key>fid</key>
				<string>124</string>
			</dict>
			<dict>
				<key>title</key>
				<string>文学作品</string>
				<key>fid</key>
				<string>102</string>
			</dict>
			<dict>
				<key>title</key>
				<string>影音制作</string>
				<key>fid</key>
				<string>264</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>其他暴雪游戏</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>风暴英雄</string>
				<key>fid</key>
				<string>431</string>
			</dict>
			<dict>
				<key>title</key>
				<string>星际争霸</string>
				<key>fid</key>
				<string>406</string>
			</dict>
			<dict>
				<key>title</key>
				<string>炉石传说</string>
				<key>fid</key>
				<string>422</string>
			</dict>
			<dict>
				<key>title</key>
				<string>暗黑破坏神3</string>
				<key>fid</key>
				<string>318</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>拳头游戏</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>云顶之弈</string>
				<key>fid</key>
				<string>660</string>
			</dict>
			<dict>
				<key>title</key>
				<string>英雄联盟</string>
				<key>fid</key>
				<string>-152678</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Valve游戏</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>CS: GO</string>
				<key>fid</key>
				<string>482</string>
			</dict>
			<dict>
				<key>title</key>
				<string>DOTA2</string>
				<key>fid</key>
				<string>321</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>游戏综合</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>游戏综合</string>
				<key>fid</key>
				<string>414</string>
			</dict>
			<dict>
				<key>title</key>
				<string>PS综合</string>
				<key>fid</key>
				<string>614</string>
			</dict>
			<dict>
				<key>title</key>
				<string>XBOX综合</string>
				<key>fid</key>
				<string>615</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Nintendo综合</string>
				<key>fid</key>
				<string>616</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>手游</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>明日方舟</string>
				<key>fid</key>
				<string>-34587507</string>
			</dict>
			<dict>
				<key>title</key>
				<string>阴阳师</string>
				<key>fid</key>
				<string>538</string>
			</dict>
			<dict>
				<key>title</key>
				<string>FGO</string>
				<key>fid</key>
				<string>540</string>
			</dict>
			<dict>
				<key>title</key>
				<string>王者荣耀</string>
				<key>fid</key>
				<string>516</string>
			</dict>
			<dict>
				<key>title</key>
				<string>和平精英</string>
				<key>fid</key>
				<string>599</string>
			</dict>
			<dict>
				<key>title</key>
				<string>崩坏3</string>
				<key>fid</key>
				<string>549</string>
			</dict>
			<dict>
				<key>title</key>
				<string>崩坏3</string>
				<key>fid</key>
				<string>549</string>
			</dict>
			<dict>
				<key>title</key>
				<string>碧蓝航线</string>
				<key>fid</key>
				<string>564</string>
			</dict>
			<dict>
				<key>title</key>
				<string>影之诗</string>
				<key>fid</key>
				<string>-8180483</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
